*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #000814;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 80%;
  display: flex;
  background-color: #001d3d;
  border-radius: 10px;
}

.left{
  flex: 1;
  padding: 35px;
}

h1{
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

p{
  color: lightgray;
  font-size: 14px;
}

.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.number{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.number h3{
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}



.right{
  flex: 1;
}

.right img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .content{
    flex-direction: column;
  }
  h1, p{
    text-align: center;
  }
  .right img{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}

@media screen and (max-width: 425px) {
  h1{
    font-size: 20px;
  }
  p{
    font-size: 12px;
  }
}




